quartus/*.sof
quartus/*.rpt
quartus/*.pof
quartus/db/
quartus/incremental_db/
quartus/output_files/
quartus/simulation/

rtl/*.bak

sim/testbenches/*.bak

test/gateware/*.sof
test/gateware/*.rpt
test/gateware/*.pof
test/gateware/db/
test/gateware/incremental_db/
test/gateware/output_files/
test/gateware/simulation
test/gateware/*.sh
test/gateware/*.done
test/gateware/*.smsg
test/gateware/*.summary
test/gateware/*.jdi
test/gateware/*.pin
test/gateware/*.rbf
test/gateware/*.sdc
test/gateware/*.sld
test/gateware/*.svf
test/gateware/*.bak

test/sim/*.sof
test/sim/*.rpt
test/sim/*.pof
test/sim/db/
test/sim/incremental_db/
test/sim/output_files/
test/sim/simulation/
test/sim/*.sh
test/sim/*.done
test/sim/*.smsg
test/sim/*.summary
test/sim/*.jdi
test/sim/*.pin
test/sim/*.rbf
test/sim/*.sdc
test/sim/*.sld
test/sim/*.svf
test/sim/*.bak
test/sim/*.bak

