quartus/*.sof
quartus/*.rpt
quartus/*.pof
quartus/db/
quartus/incremental_db/
quartus/output_files/
quartus/simulation/
quartus/*.sh
quartus/*.done
quartus/*.smsg
quartus/*.summary
quartus/*.jdi
quartus/*.pin
quartus/*.rbf
quartus/*.sdc
quartus/*.sld
quartus/*.svf
quartus/*.bak

quartus/initfiles/*.bin
quartus/initfiles/*.elf
quartus/initfiles/*.hex
quartus/initfiles/*.o

rtl/*.bak

sim/rtl/*.bak
sim/testbenches/*.bak
